:host {
    --primary-color: #c53211;
    --secondary-color: #2e3830;
    --secondary-color-light: #546157;
    --kakhi: #e6dbc9;
    --dark-color: #000;
    --light-color: #f4f4f4;
    --hero-opacity: 0.7;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.course-container {
    max-width: 1100px;
    margin: auto;
}

.card {
    background-color: var(--kakhi);
    border-radius: 5px;
    width: 90%;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--kakhi);
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
    color: #000;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

h5,
p,
a {
    font-size: 1rem;
}

p {
    color: var(--kakhi);
}

.stand-out {
    color: var(--primary-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tutor {
    padding: 2rem 1rem;
    background-color: var(--kakhi);
}

.card {
    padding: 1rem;
    border: 1px solid #ccb591;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    width: 95%;
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tutor h3 {
    text-align: center;
}

.tutor p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.contact {
    background-color: var(--secondary-color-light);
    color: #fff;
    border: none;
    font-size: 1rem;
    /* padding: 0.6rem 1.1rem; */
    width: 150px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contact:hover {
    background-color: var(--secondary-color);
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    max-width: 750px;
    margin: auto;
    margin-top: 2rem;
}

.contact-intro {
    margin: 6rem 0 1rem 0;
    text-align: center;
}

.contact-intro h3 {
    font-weight: 300;
    line-height: 2;
    font-size: 1.5rem;
}

.contact-intro p {
    font-size: 1rem;
}

.text-fields {
    display: grid;
    grid-template-areas:
        'names'
        'email'
        'phone'
        'subject'
        'message';
    gap: 1rem;
    margin-bottom: 2rem;
}

.name-input {
    grid-area: names;
}

.subject-input {
    grid-area: subject;
}

.email-input {
    grid-area: email;
}

.phone-input {
    grid-area: phone;
}

.message-input {
    grid-area: message;
    height: 100px;
}

.text-input {
    padding: 0.7rem 1rem;
}

.text-input::placeholder {
    font-size: 0.8rem;
}

input,
textarea {
    font-size: 1rem;
    background: url('resources/bg.png');
    border: 1px solid var(--secondary-color-light);
    border-radius: 3px;
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid var(--secondary-color);
}

form button {
    margin: auto;
    background-color: var(--secondary-color-light);
    color: var(--light-color);
    border: none;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

form button:hover {
    background-color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
    .text-fields {
        display: grid;
        grid-template-areas:
            'names email'
            'subject phone'
            'message message';
        gap: 1rem;
        margin-bottom: 2rem;
    }
}
