:host {
    --primary-color: #c53211;
    --secondary-color: #2e3830;
    --secondary-color-light: #546157;
    --kakhi: #e6dbc9;
    --dark-color: #000;
    --light-color: #f4f4f4;
    --hero-opacity: 0.7;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.course-container {
    max-width: 1100px;
    margin: auto;
}

.card {
    background-color: var(--kakhi);
    border-radius: 5px;
    width: 90%;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--kakhi);
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

h5,
p,
a {
    font-size: 1rem;
}

p {
    color: var(--kakhi);
}

.stand-out {
    color: var(--primary-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tutor {
    padding: 2rem 1rem;
    background-color: var(--kakhi);
}

.card {
    padding: 1rem;
    border: 1px solid #ccb591;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tutor img {
    display: none;
    height: 70px;
}

.tutor h3 {
    text-align: center;
}

.tutor p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.contact {
    background-color: var(--secondary-color-light);
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 1.1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contact:hover {
    background-color: var(--secondary-color);
}
