:host {
    --primary-color: #c53211;
    --secondary-color: #2e3830;
    --secondary-color-light: #546157;
    --kakhi: #e6dbc9;
    --dark-color: #000;
    --light-color: #f4f4f4;
    --hero-opacity: 0.7;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.course-container {
    max-width: 1100px;
    margin: auto;
}

.card {
    background-color: var(--kakhi);
    border-radius: 5px;
    width: 90%;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--kakhi);
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

h5,
p,
a {
    font-size: 1rem;
}

p {
    color: var(--kakhi);
}

.stand-out {
    color: var(--primary-color);
}

.course-section {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 2rem;
}

.course-section .container {
    gap: 2rem;
    align-items: center;
}

.course-section h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 325px;
}

.card p {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.card img {
    max-width: 65px;
}

.card .course-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-head p {
    color: var(--primary-color);
    font-weight: 600;
}

.card p.course-name {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.show {
    margin-top: 2rem;
    padding: 1rem 0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--secondary-color-light);
    border: none;
    color: var(--kakhi);
    width: 100%;
    max-width: 1100px;
    transition: all 0.3s ease;
}

.show:hover {
    background-color: var(--primary-color);
}

.hide {
    display: none;
}

@media screen and (min-width: 990px) {
    .container {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: 475px;
    }
}
