@import '../cssLibrary/cssLibrary.css';

:host {
    --primary-color: #c53211;
    --secondary-color: #2e3830;
    --secondary-color-light: #5d625e;
    --kakhi: #e6dbc9;
    --dark-color: #000;
    --light-color: #f4f4f4;
    --hero-opacity: 0.7;
}

.course-section {
    margin: 2rem 0;
    text-align: center;
}

.course-section .container {
    gap: 2rem;
}

.course-section h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.card p {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

.show {
    margin-top: 2rem;
    padding: 1rem 0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--secondary-color-light);
    border: none;
    color: var(--kakhi);
    width: 98%;
    max-width: 1075px;
    transition: all 0.3s ease;
}

.show:hover {
    background-color: var(--primary-color);
}

@media screen and (min-width: 990px) {
    .container {
        justify-content: space-between;
    }
}
